[submodule "whisper.cpp"]
	path = whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "stable-diffusion.cpp"]
	path = stable-diffusion.cpp
	url = https://github.com/leejet/stable-diffusion.cpp.git
[submodule "llama.cpp"]
	path = llama.cpp
	url = git@github.com:ochafik/llama.cpp-private.git
	branch = llamafile-2026-ghostkv
[submodule "third_party/zipalign"]
	path = third_party/zipalign
	url = https://github.com/jart/zipalign.git
